
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 350px;
    width: 0;
    height: 100%;
    margin-left: -350px;
    overflow-y: scroll;
    background-color: black;
    -webkit-border-end-style: solid;
    width:auto;
}

.category-list {
    width: 200px;
    font-family: Roboto;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }


    
}

#map {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 4;
    bottom: 0;
}


@media(max-width:640px) {
    #list-items {
        box-sizing: border-box;
        display: inline-flex;
        font-size: 14px;
    }
}

li {
    color: white;
}

